/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2")
    format("woff2");
}
/* roboto-700 - 600 не було */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_latin_latin-ext-700.woff2")
    format("woff2");
}

/* Variables */
:root {
  --primary-color-light: #ffffff;
  --primary-color-blue: #2b7fff;
  --primary-color-dark: #011c44;
  --secondary-color-gray-dark: #4a4a4a;
  --secondary-color-gray-light: #747272;
  --secondary-color-dark: #f5f5f5;
  --secondary-color-yellow: #ffd02b;
}

/* General */
body {
  color: var(--primary-color-dark);
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

/* Links */
.link {
  color: var(--primary-color-dark);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
}

.link:hover {
  color: var(--primary-color-blue);
  font-weight: 700;
}

.simple-text {
  font-size: 18px;
  line-height: 1.2;
}

/* Hero section */
.hero-title {
  color: var(--primary-color-blue);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
}

.button {
  color: var(--primary-color-light);
  background-color: var(--primary-color-blue);
  border: 20px solid var(--primary-color-blue);
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.small-text {
  color: var(--secondary-color-gray-dark);
  font-size: 12px;
  line-height: 1.5;
  align-content: center;
}

/* Other sections */
.section-title {
  color: var(--primary-color-dark);
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.section-title .accent {
  color: var(--primary-color-blue);
}

.capitalized {
  text-transform: capitalize;
}
